h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Perfilar al cliente de acuerdo a sus necesidades, características y políticas institucionales.
            li
                span Consolidar la información de clientes potenciales conforme a guía técnica
            li
                span Comprobar la información del cliente teniendo en cuenta los lineamientos establecidos por la organización
            li
                span Justificar los resultados de la gestión microfinanciera de acuerdo con soportes documentales e informes