h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Mercado objetivo', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Sistema de administración de riesgo crediticio SARC', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Estrategias de identificación de necesidades de los clientes', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Factores de evaluación para los microcréditos', 'main.html#page/tema-4/')
                    +navTemaItem('5', 'Métodos de cálculo para crédito.', 'main.html#page/tema-5/')
                    +navTemaItem('6', 'Contabilidad básica', 'main.html#page/tema-6/')
                    +navTemaItem('7', 'Cliente microfinanciero', 'main.html#page/tema-7/')
                    +navTemaItem('8', 'Bases de datos', 'main.html#page/tema-8/')
                    +navTemaItem('9', 'Técnicas de comprobación de la información de clientes ', 'main.html#page/tema-9/')
                    +navTemaItem('10', 'Análisis financiero', 'main.html#page/tema-10/')
                    +navTemaItem('11', 'Indicadores de gestión', 'main.html#page/tema-11/')
                    +navTemaItem('12', 'Modelos de informes microfinancieros', 'main.html#page/tema-12/')
                    +navTemaItem('13', 'Desembolso', 'main.html#page/tema-13/')