.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Balance General:
            | Refleja en un momento determinado la información económica y financiera de una empresa.
        
        p
            strong.mr-2 Cruce de información:
            | Es el cotejo que se obtiene luego de una comparación de dos o más tipos de información para su verificación y análisis.
        
        p
            strong.mr-2 Estados Financieros:
            | Son el reflejo de la contabilidad de una empresa y muestran la estructura económica de ésta. En los estados financieros se plasman las actividades económicas que se realizan en la empresa durante un determinado período.
        
        p
            strong.mr-2 Flujo unidad familiar:
            | Informe detallado de los ingresos y egresos de la familia, en el microcrédito es esencial revisar este informe ya que el microempresario en general tiende a mezclar las cuentas de la familia y del negocio.
        
        p
            strong.mr-2 Método de cálculo:
            | Son herramientas que tiene un asesor microfinanciero para determinar o calcular el nivel de ventas y compras que realiza el cliente para poder determinar la viabilidad del crédito de acuerdo al manejo del negocio. 