.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Referencia APA del Material.
                    th.text-center Tipo de material(Video, capítulo de libro, artículo, otro). 
                    th.text-center Enlace del Recurso o Archivo del documento o material.
