include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Arenal Laza, C. (2018). Técnicas de información y atención al cliente, consumidor, usuario: UF0037. Editorial Tutor Formación.","https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/44246")
    
        +referenciaItem("Banco de Occidente (2017). Circular externa 026 de 2017. Capítulo II: reglas relativas a la gestión del riesgo crediticio.", "https://www.bancodeoccidente.com.co/wps/wcm/connect/banco-de-occidente/2d52a212-d27a-4951-8804-ef0ed374a8ed/circular-externa-superfinanciera.pdf?MOD=AJPERES")
    
        +referenciaItem("Espinosa, H. (2016). Características de los clientes de microcréditos. Uniminuto.")

    
        +referenciaItem("Greciet Paredes, P. (2013). Contabilidad básica para micro, pequeña y medianas empresa en Honduras. Ministerio de Educación de España.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/49356 ")

        +referenciaItem("Jaffe, D. y Price, B. (2015). ¡Tú cliente manda!. Grupo Editorial Patria.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/114221.")

        +referenciaItem("Lavalle Burguete, A. C. (2017). Análisis financiero. Editorial Digital UNID.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/41183")
        
        +referenciaItem("Marqués, M. (2009). Bases de datos. D - Universitat Jaume I. Servei de Comunicació i Publicacions.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/51645")

        +referenciaItem("Moldejar, J., Lorenzo, C. & Borja, (2008). Interacción persona-ordenador en la investigación del proceso de decisión del consumidor.", "https://www.academia.edu/7658754/Interacci%C3%B3n_persona_ordenador_en_la_investigaci%C3%B3n_del_proceso_de_decisi%C3%B3n_del_consumidor ")

        +referenciaItem("Morales Castro, J. A. y Castro. Arturo, M. (2015). Crédito y cobranza. Grupo Editorial Patria.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/39380 ")

        +referenciaItem("Prieto Herrera, J. E. (2009). Investigación de mercados. Ecoe Ediciones.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/69104")

        +referenciaItem("Ruza, C. (2013). El riesgo de crédito en perspectiva. UNED - Universidad Nacional de Educación a Distancia.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/48687")

        +referenciaItem("Superintendencia Bancaria de Colombia (2006). Curso Administración y Recuperación de la Cartera de Créditos.", "https://www.coursehero.com/file/44956137/MATERIAL-DE-APOYO-2doc/")

        +referenciaItem("Thompson, H. (2016). ¿¿Quién se ha llevado a mi cliente?? Estrategias clave para fidelizar a los clientes. Grupo Editorial Patria.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/114369")

        +referenciaItem("Zapata Martelo, E. Garcí, Z. y Alberti Manzanares, P. (2008). Microfinanciamiento y empoderamiento de mujeres rurales: las cajas de ahorro y crédito en México. Plaza y Valdés, S.A. de C.V.", "https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/75513")
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1.mb-0 Licencia Creative Commons 
                        p.text-center.flex-grow-1 <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            