.container.mt-5
    
    .header-ecored
                
        h1 13.	Desembolso

    .jumbotron.bg-white
        p Un desembolso es hacer efectivo el dinero, esto ocurre, cuando se solicita un préstamo, o se  financia una inversión o negocio, el desembolso será el dinero entregado al prestatario o el dinero que una persona preste, invierta o salde. Es por eso que en el sector financiero existen diferentes tipos de garantías, las cuales respaldan las deudas adquiridas por los clientes como lo dice Morales y Castro (2015) “es fundamental que las actividades desarrolladas en el otorgamiento de créditos sean precisas para que éstos se puedan recuperar, lo cual se logra mediante un análisis minucioso de los solicitantes de crédito para asegurar que sí tendrán los recursos necesarios para saldar sus deudas y que además estén dispuestos a pagar”.
        .jumbotron.bg-6.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-13/tema-13-1.svg").img-fluid
                .col

                    h3#tema-131.font-weight-bold 13.1. Garantía personal

                    p Dependiendo de la política de crédito de la entidad financiera la garantía personal suele ser el avalista o fiador quien será responsable del no pago de la deuda, sin embargo, podría darse la garantía personal solamente el pagaré en blanco firmado por parte del deudor.
                
        .jumbotron.bg-6.mt-5
            .row.justify-content-center.align-items-center
                .col-auto

                    img.img-a(src="assets/images/pages/tema-13/tema-13-2.svg").img-fluid

                .col

                    h3#tema-132.font-weight-bold Garantía hipotecaria

                    p Normalmente son bienes inmuebles (casas, apartamentos, bodegas, locales etc.), los cuales quedan a favor de la entidad respaldando la deuda.

        .jumbotron.bg-6.mt-5
            .row.justify-content-center.align-items-center
                .col-auto

                    img.img-a(src="assets/images/pages/tema-13/tema-13-3.svg").img-fluid

                .col

                    h3#tema-133.font-weight-bold Garantía prendaría o pignoración

                    p Son bienes muebles como vehículo, maquinaria que quedan a favor de la entidad financiera, garantizando el pago de la deuda.

        .jumbotron.bg-2.mt-5 
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

                .col
                    p El otorgamiento del crédito se convierte en el inicio de una relación gana - gana de la entidad financiera con el microempresario, para profundizar en el tema puede dar clic en el siguiente enlace:

                    .row.justify-content-center.align-items-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/39380" target="_blank").media-link    

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo.] Capítulo 5. Otorgamiento del crédito p. 99. Del libro de Crédito y cobranza de Morales y Castro (2015).