.container.mt-5

    .header-ecored
                
        h1 10.	Análisis financiero

    .jumbotron.bg-white
        p En un análisis financiero se ejecutan varias acciones viabilidad, estabilidad y rentabilidad de un negocios, en el caso de las microfinanzas es vital para observar la situación del negocio, este análisis permite comprender la información contable para diagnosticar la situación actual del negocio y proyectar su futuro.

        .sub-ecored.mt-5

            h2#tema-101 10.1.	Tipos de análisis.
        .header-arrow.mt-5
            h3  Existen dos tipos de análisis financiero de acuerdo con el tipo de información:
        .jumbotron.bg-white.py-0.px-3.my-0        
            .row.justify-content-center.align-items-center.jumbotron.bg-4.mb-0.r-border
                .col-auto
                    img(src="assets/images/pages/tema-10/tema-10-1.svg").img-fluid.mt-4.px-4        
                .col
                    h3 Análisis vertical
                    p Se utiliza cuando se trabajan los estados financieros de una empresa en un mismo año. 

            .row.justify-content-center.align-items-center.jumbotron.bg-6.r-border
                .col-auto
                    img(src="assets/images/pages/tema-10/tema-10-2.svg").img-fluid.mt-4.px-4.mb-5
                .col
                    h3 Análisis horizontal
                    p Se usa cuando se trabajan los estados financieros de varios años. 
                    p El análisis financiero puede ser vertical u horizontal, dependiendo de los objetivos del análisis. Se aplica el análisis vertical para resolver algunas dudas relacionadas con la situación financiera presente en la empresa, en cambio cuando efectuamos un análisis horizontal, deseamos conocer su comportamiento histórico.

        .sub-ecored.mt-5

            h2#tema-102 10.2.	Sobreendeudamiento  
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/tema-10/tema-10-3.svg").img-fluid
            .col.jumbotron.bg-4
                p El sobreendeudamiento es la acumulación de deuda que no puede ser pagada con el nivel de ingresos actual y esperado.
                p Las personas ingresan al mercado de crédito con la intención de gastar más cuando tienen ingresos bajos y luego pagar la deuda al aumentar sus ingresos esperados.      
        .jumbotron.bg-6.bg-9.mt-5
            h3 Causas 
        
            .list.mt-5
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Solicitar préstamos sin tener en cuenta que en el futuro tal vez no se cuenten con los mismos ingresos.

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top No calcular bien si el dinero alcanza para cumplir los pagos mensuales de un préstamo o de una tarjeta de crédito.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Prestar la tarjeta de crédito a familiares o amigos y tener que pagar sus deudas porque ellos no te pagan a ti.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Ser garante de los préstamos de terceros que no pagan a tiempo, por lo que te toca pagar a ti.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top No tener ahorros para cubrir gastos inesperados o emergencias.
        
        .jumbotron.bg-6.bg-9.mt-5
        
            h3.mt-5 Señales de sobreendeudamiento: 
            
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Usar crédito para comprar comida y pagar servicios básicos, que son gastos que deben pagarse al contado porque se consumen de inmediato.  

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Sacar un préstamo para pagar otro, incrementando así el nivel de deuda.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Usar ahorros para pagar préstamos, cuando el objetivo de los ahorros es cumplir metas o afrontar emergencias.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Dejar de pagar unas deudas para cumplir con otras, pagando un mes algo y al siguiente no.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Recibir recordatorios de pago de las instituciones financieras u otros acreedores, vía telefónica o por escrito.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Pagar solamente el pago mínimo de la tarjeta de crédito, cuando lo ideal es pagar el total del estado de cuenta cada mes.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Destinar gran parte de los ingresos al pago de deudas, es decir, que casi no quede dinero para los gastos básicos y fijos por tener que pagar los préstamos.
        .jumbotron.bg-6.bg-9.mt-5
        
            h3.mt-5 Cómo evitar el sobreendeudamiento:

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Planificar el presupuesto 

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Ahorrar
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Evitar la deuda mala (la que se usa para gastar)
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Conocer la capacidad de endeudamiento
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Solicitar el crédito que se necesite y que tenga un fin específico, en lo posible que sea productivo.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Informarse de todo lo que conlleva un crédito.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Comparar en varias entidades financieras y elegir la que más convenga en términos económicos.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Pagar con puntualidad.
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Llevar el control de los pagos

        .jumbotron.bg-6.bg-9.mt-5

            h3.mt-5 Cómo salir del sobreendeudamiento:

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top No endeudarse más “tapar un hueco y destapar otro”
            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Realizar una lista de todas las deudas y conseguir la posibilidad de unificarlas, en lo posible con compra de cartera, ya que la tasa de interés es más baja.

        .sub-ecored.mt-5

            h2#tema-103 10.3.	Capacidad de pago  

        p.mt-5 En el estudio de un crédito es determinante para el otorgamiento o no del microcrédito o crédito y para eso es recomendable tener en cuenta la capacidad de pago, con esta se obtiene la situación económica del negocio y cómo esta capacidad de pago se refleja en los estados financieros, la liquidez precisa con que cuenta el negocio / propietario para atender las cuotas del crédito.
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                p La capacidad se determinará mediante la formulación de los estados financieros de la microempresa y el flujo de caja de la unidad socioeconómica. 
            .col-12.col-md-6

                .jumbotron.bg-6
                    p.font-weight-bold Los Estados Financieros de la Microempresa son: 

                    .row

                        .col-auto

                            img(src="assets/images/pages/tema-10/vineta-A.svg").img-fluid

                        .col

                            p.mt-2 Balance General

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-10/vineta-B.svg").img-fluid

                        .col

                            p.mt-2 El Estado de Pérdidas y Ganancias

        h3.mt-6 El flujo mensual de efectivo de la unidad socioeconómica
        p Establece la totalidad de los ingresos y los egresos de la unidad familiar, así como el flujo de caja del solicitante del crédito.

        .col-12.mt-5.text-center

            img(src="assets/images/pages/tema-10/tema-10-4.svg").img-fluid

        .jumbotron.bg-2.mt-5 
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

                .col
                    p El tema de Análisis financiero es importante en la preparación para  un analista o un comercial que haga uso de la información para la decisión de un crédito, es por eso que es necesario que revise la siguiente información.

                    .row.justify-content-center.align-items-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/41183" target="_blank").media-link    

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo.] Capítulo 1 Análisis financiero p.3 del libro Análisis financiero de Lavalle (2017).  