.container.mt-5
    
    .header-ecored
                
        h1 12.	Modelos de informes microfinancieros
    .jumbotron.bg-white
            
        p Básicamente existen dos modelos de informes microfinancieros: cualitativos y cuantitativos

        .sub-ecored

            h2#tema-121.mt-5 12.1.	Tipos de informes

        p.mt-5 A partir de los dos tipos de informes que se presentan se jerarquiza en los conceptos fundamentales con los que se debe entender cada uno, es por eso que se presentan las características de cada tipo de informe y algunos de los elementos más importantes a tener en cuenta.
        .jumbotron.bg-6.bg-9.mt-5
            .row.justify-content-center.align-items-center

                .col-auto

                    img(src="assets/images/pages/tema-12/tema-12-1.svg").img-fluid

                .col 
                    h3 12.1.1.	Cualitativos

                    p Son aquellos que hacen referencias a las “cualidades”, dicha información está relacionada con los adjetivos, por ejemplo: grande, espacioso, pequeño, responsable, paciente, flexible, costos, batato etc.
            
                    p Características: 

                    p Se utiliza para comprender las opiniones y motivaciones de los consumidores.
                    p Para la recopilación de datos se utiliza los métodos de grupo de enfoque y preguntas de texto abierta, con técnicas de grupos focales, entrevistas u observaciones.
                    p El análisis e interpretación de datos puede llevar tiempo.

        .jumbotron.bg-6.bg-9.mt-5
            .row.justify-content-center.align-items-center

                .col-auto

                    img(src="assets/images/pages/tema-12/tema-12-2.svg").img-fluid

                .col

                    h3 12.1.2.	Cuantitativos

                    p Relacionada lo que tienen que ver con números, hace referencia básicamente a la cantidad, por ejemplo: valor, altura, tamaño etc.

                    p Características: 

                    p Los datos se pueden convertir en estadísticas útiles.
                    p Los métodos para recopilar datos son más estructurados, incluyen encuestas online o de papel o móviles o cara a cara, incluso telefónicas. 
                    p Las preguntas son más cerradas y el tamaño de la muestra más grande.
        .sub-ecored.mt-5

            h2#tema-122 12.2.	Elementos del informe

        p.mt-5 No es regla de oro enlistar los elementos de un informe porque cada entidad tiene sus propios parámetros e instrumentos para evaluar y validar la información que en este reposa, sin embargo dentro de los principales elementos del informe de crédito se deben considerar los siguientes:
        .row.mt-5.align-items-stretch.mt-5

            .col-md-6.col-lg-6

                img.img-a(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
                
                .jumbotron.bg-4.borde.text-sup
                    h3.mt-7 Información personal
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Nombre completo

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Documento de identidad
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Dirección de ubicación (casa y/o negocio)
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Estado civil
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top En caso de ser casado (a) los datos completos del cónyuge. 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Fecha de nacimiento
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Seguridad social 
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Número de teléfono (fijo y/o celular)                        
                    
            .col-md-6.col-lg-6

                img.img-a(src="assets/images/pages/tema-12/tema-12-4.svg").img-fluid
                .jumbotron.bg-4.borde.text-sup
                    h3.mt-7 Información financiera

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Cuentas bancarias (ahorro y/o corriente), CDT o encargos fiduciarios. (montos y saldos).

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Créditos actuales y pasados (como titular, deudor solidario o codeudor).
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Total, monto adeudado.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Fechas de inicio y cierre de las cuentas y créditos.


        .row.mt-5.align-items-stretch.mt-5

            .col-md-6.col-lg-6

                img.img-a(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid
                .jumbotron.bg-4.borde.text-sup
                    h3.mt-7 Información comercial

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Referencias comerciales de proveedores y lista de clientes con datos como nombre y teléfonos.

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Facturas de compra a proveedores
            .col-md-6.col-lg-6

                img.img-a(src="assets/images/pages/tema-12/tema-12-6.svg").img-fluid
                .jumbotron.bg-4.borde.text-sup                    
                    h3.mt-7 Balance General y Estado de Ganancias y Pérdidas

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Es importante tener este tipo de información ya que da una idea más clara de la situación financiera del cliente y/o negocio.
        .row.mt-5.align-items-stretch.mt-5

            .col-md-6.col-lg-6

                img.img-a(src="assets/images/pages/tema-12/tema-12-7.svg").img-fluid
                
                .jumbotron.bg-4.borde.text-sup                    

                    h3.mt-7 Historial de crédito

                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Reporte de las centrales de riesgo Datacrédito y CIFIN u otras dependiendo de la política crediticia de la entidad.
            .col-md-6.col-lg-6

                img.img-a(src="assets/images/pages/tema-12/tema-12-8.svg").img-fluid
                .jumbotron.bg-4.borde.text-sup                
                    h3.mt-7 Garantía
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                        .list__txt    
                            p.m-top Es importante para la entidad financiera conocer de qué manera se respaldará el crédito, los tipos de garantía en las entidades financieras generalmente son: personal (pagaré, fiador o algún elemento – electrodoméstico con que cuente el deudor), hipotecaria (bien inmueble como casa, apartamento, bodega, local etc.) o prendaria (vehículo o maquinaria).

        .sub-ecored.mt-5

            h2#tema-123 12.3.	Comité de crédito (aprobación o negación)
        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.img-a(src="assets/images/pages/tema-12/img1.svg").img-fluid
            .col
                p Grupo de colaboradores de una entidad financiera y/o microfinanciera destina para gestionar, evaluar cada solicitud de crédito para su aprobación o negación dependiendo de la política de crédito, en caso de aprobación inclusive este comité podría tener funciones de hacer seguimiento y recuperación de cartera.

        p.mt-3 En caso de aprobación de las solicitudes se realizará siguiendo los parámetros establecidos, si el asesor de microcrédito se encuentra dentro del comité defenderá su solicitud con argumentos valederos para otorgamiento del microcrédito y comunicará al cliente para posterior desembolso con su respectiva legalización. 

        p En caso de negación de crédito por una o varias razones que establezca el comité, el asesor de microfinanzas tendrá dentro de sus funciones el aviso al cliente de su negación, podrá o no dar razón de negación, pues dentro del sistema financiero se encuentra la reserva bancaria, entendida como el derecho que tiene la entidad financiera en dar información de la razón por la cual fue negada la solicitud.