.container.mt-5
    
    .header-ecored
                
        h1 4. Factores de evaluación para los microcréditos

    .card

        .card-body
            
            p.my-5 Estos factores son aquellas variables que se deben tener en cuenta al momento que se evalúa un crédito para su otorgamiento o negación.
            
    .card

        .card-body

            .sub-ecored.mt-5

                h2#tema-41 4.1. Características.

            .row.my-1

                .col-12.bg-naranja.p-4.mt-5.cont-flecha.text-center

                    p.font-weight-bold Dentro de algunos factores de evaluación de los microcréditos podemos mencionar:

                .col-1.p-0.mt-5

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-5

                    p Antigüedad:  tiempo de duración del negocio.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Capacidad de endeudamiento: capacidad de pago de acuerdo con su situación financiera.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Créditos anteriores: créditos concedidos en la misma entidad o en otra.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Destino del crédito:  en que se utilizaran los recursos otorgados.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Edad: es importante según política de la entidad que se encuentre dentro de los rangos.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Estado civil: situación familiar del titular del crédito.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Garantía: tipo de garantía aportada por el cliente.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Mora: cumplimiento o incumplimiento de las obligaciones.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Sexo: genero del cliente

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Sector: sector de la actividad al que pertenece el negocio.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Monto: importe del crédito.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3

                    p Duración: número de cuotas mensuales del crédito.

                .col-1.p-0.mt-3

                    img(src="assets/images/pages/tema-3/vineta.svg").img-fluid

                .col-11.p-0.mt-3.mb-5

                    p Zona: lugar geográfico donde se encuentra localizado el negocio.
            
    .card

        .card-body
            
            .sub-ecored.mt-5

                h2#tema-42 4.2    Modo de identificarlos

            .row.mt-5.justify-content-center

                .col-md-3.col-lg-3.col-sm-3.col-xs-12.mb-3

                    img(src="assets/images/pages/tema-4/tema-4-1.svg").img-fluid

                .col-8.ml-3

                    p Para identificar los anteriores factores de evaluación la entidad financiera o microfinanciera se vale de consultas en las centrales de riesgo como Datacrédito y Cifin, pero también cuenta con la valiosa información que recolecta el asesor microfinanciero cuando realiza la visita al negocio, verifica toda la información entregada por el cliente con facturas, recibos, y con la verificación zonal, todo esto para la gran responsabilidad con la que se toma la decisión “la decisión de otorgar o negar un crédito depende del resultado de la investigación que se hace acerca del solicitante para conocer si lo pagará; y de la percepción que el analista se forme respecto del solicitante en su comportamiento probable de pagar el crédito” (Morales y Castro, 2015). 

    .card.py-5

        .card-body

            .sub-ecored

                h2#tema-43 4.3    Clases

            .row.mt-4

                .col-7

                    .row.mt-4

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p  Personalidad y experiencia del microempresario

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Características del producto y/o servicio, y del mercado.

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Estrategia y organización de la empresa.

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Criterios relacionados con la información contable del negocio

                .col-5.text-left    

                    img(src="assets/images/pages/tema-4/tema-4-2.svg").img-fluid