.container.mt-5
    
    .header-ecored
                
        h1 9.	Técnicas de comprobación de la información de clientes

    .card.pb-5

        .card-body
            
            p.mt-5 Son todos aquellos procedimientos y recursos que el asesor microfinanciero utiliza para verificar la información que suministra el cliente del negocio al momento de solicitar un microcrédito.
            
            .col-12.text-center

                img(src="assets/images/pages/tema-9/tema-9-1.svg").img-fluid.mt-5

            .bg-naranja.p-4.cont-flecha.text-center

                p.font-weight-bold Dentro de estas técnicas podemos tener:

            .row.mt-6

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p  Aplicativos de entidad financiera con Registraduría para verificar la autenticidad del documento de identidad.

            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Consulta a las centrales de riesgo para verificar el comportamiento financiero y moras mayores a 30 días
            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p  Bases de datos interna de la entidad financiera para comprobar comportamiento financiero menor a 30 días dentro de la entidad financiera.

            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Llamadas telefónicas para constatar información que el cliente registra en los formularios tales como referencias familiares.
            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col.pb-5

                    p  Visitas al negocio o a la casa del cliente como comprobación de dirección e información.


    .card.py-5

        .card-body

            .col-12.text-center

                img(src="assets/images/pages/tema-9/tema-9-2.svg").img-fluid.mt-5

            .bg-naranja.p-4.cont-flecha.text-center

                p.font-weight-bold A continuación se presentan los diferentes tipos de referenciación.

            .col-12.mt-6

            .sub-ecored

                h2#tema-91 9.1.	Referenciación comercial

            p.mt-3 Para la entidad financiera o microfinanciera es valioso contar con las referencias comerciales tales como los proveedores del cliente, para conocer sus hábitos de compra en valor y en tiempo, también las referencias de algunos de sus clientes y finalmente qué vínculos tiene o ha tenido con el sector financiero, sus productos, promedios y valores adeudados hasta el momento.

            .sub-ecored
            
                h2#tema-92.mt-5 9.2.	Referenciación familiar

            p.mt-3 Contar con las referencias de los familiares es esencial para la entidad financiera en el otorgamiento del crédito a un cliente, ya que al interior de la familia las personas son conocidas a profundidad, por ejemplo, en sus hábitos de pago, en la puntualidad con sus compromisos económicos y quizá puedan entregar información de su situación económica y financiera, si son muy allegados.

            .sub-ecored
            
                h2#tema-93.mt-5 9.3.	Referenciación zonal

            p.mt-3 Consiste en hacer entrevistas en lugares cercanos al negocio, como establecimientos y vecinos, teniendo objetividad en lo que se pregunta, evitando malinterpretar o que coja otro rumbo la entrevista

            p.mt-3 Es de suma importancia contar con los comentarios de las personas que se encuentran en el entorno del cliente y de su negocio que desea se encuentra realizando una solicitud de crédito, en aspectos que no pueden ser evidentes al momento de la visita tales como la antigüedad del negocio, si los vecinos observan que ingresa clientes constantemente, como ven el negocio físicamente, que les gustaría cambiar para hacerlo más atractivo, el comportamiento y atención de servicio que tiene el dueño del negocio, los horarios de apertura y cierre, la limpieza, el orden entre otros.

            .bg-azul-claro2.row.p-4.rounded.borde-azul.my-5.mx-2

                .col-auto

                    img(src="assets/images/pages/tema-9/tema-9-3.svg").img-fluid

                .col.mb-3

                    p  La información siempre será la base en cualquier actividad económica, es por ello que debe tener un tratamiento especial y unas técnicas para su verificación, para profundizar en el tema puede dar clic en el siguiente enlace: 

                    p.font-weight-bold  Capítulo 2 Técnicas de comunicación a clientes p.59 del libro Técnicas de información y atención al cliente, consumidor, usuario: UF0037 de Arenal (2018) en

                    a.mt-3.text-color-default(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/44246 ") https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/44246  