.container.mt-5

    .header-ecored
                
        h1 10.	Análisis financiero

    .card.pb-5

        .card-body

            p.mt-5 En un análisis financiero se ejecutan varias acciones viabilidad, estabilidad y rentabilidad de un negocios, en el caso de las microfinanzas es vital para observar la situación del negocio, este análisis permite comprender la información contable para diagnosticar la situación actual del negocio y proyectar su futuro.
            
    .card.py-5

        .card-body

            .sub-ecored

                h2#tema-101 10.1.	Tipos de análisis.

            .row

                .col-12

                    .bg-naranja.p-4.cont-flecha.text-center.mt-5

                        p.font-weight-bold Existen dos tipos de análisis financiero de acuerdo con el tipo de información:

                .col-6.bg-verde-claro.mt-5

                    img(src="assets/images/pages/tema-10/tema-10-1.svg").img-fluid.mt-4.px-4

                    h3.mt-5.px-4 Análisis vertical

                    p.mt-4.px-4.mb-5 Se utiliza cuando se trabajan los estados financieros de una empresa en un mismo año.

                .col-6.bg-naranja-oscuro.mt-5

                    h3.mt-5.px-4 Análisis horizontal

                    p.mt-4.pr-6.pl-4 Se usa cuando se trabajan los estados financieros de varios años. 
                    p.mt-2.pr-6.pl-4 El análisis financiero puede ser vertical u horizontal, dependiendo de los objetivos del análisis. Se aplica el análisis vertical para resolver algunas dudas relacionadas con la situación financiera presente en la empresa, en cambio cuando efectuamos un análisis horizontal, deseamos conocer su comportamiento histórico.

                    img(src="assets/images/pages/tema-10/tema-10-2.svg").img-fluid.mt-4.px-4.mb-5

    .card.py-5

        .card-body

            .sub-ecored

                h2#tema-102 10.2.	Sobreendeudamiento  

            p.mt-5 El sobreendeudamiento es la acumulación de deuda que no puede ser pagada con el nivel de ingresos actual y esperado.
            p Las personas ingresan al mercado de crédito con la intención de gastar más cuando tienen ingresos bajos y luego pagar la deuda al aumentar sus ingresos esperados.      


            .col-12.text-center.mt-5

                img(src="assets/images/pages/tema-10/tema-10-3.svg").img-fluid

            
            h3.mt-4 Causas 
            
            .row.mt-4

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p  Solicitar préstamos sin tener en cuenta que en el futuro tal vez no se cuenten con los mismos ingresos.

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p No calcular bien si el dinero alcanza para cumplir los pagos mensuales de un préstamo o de una tarjeta de crédito.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Prestar la tarjeta de crédito a familiares o amigos y tener que pagar sus deudas porque ellos no te pagan a ti.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Ser garante de los préstamos de terceros que no pagan a tiempo, por lo que te toca pagar a ti.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p No tener ahorros para cubrir gastos inesperados o emergencias.
           
           
            h3.mt-5 Señales de sobreendeudamiento: 
            
            .row.mt-4

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Usar crédito para comprar comida y pagar servicios básicos, que son gastos que deben pagarse al contado porque se consumen de inmediato.  

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Sacar un préstamo para pagar otro, incrementando así el nivel de deuda.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Usar ahorros para pagar préstamos, cuando el objetivo de los ahorros es cumplir metas o afrontar emergencias.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Dejar de pagar unas deudas para cumplir con otras, pagando un mes algo y al siguiente no.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Recibir recordatorios de pago de las instituciones financieras u otros acreedores, vía telefónica o por escrito.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Pagar solamente el pago mínimo de la tarjeta de crédito, cuando lo ideal es pagar el total del estado de cuenta cada mes.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Destinar gran parte de los ingresos al pago de deudas, es decir, que casi no quede dinero para los gastos básicos y fijos por tener que pagar los préstamos.
           
            h3.mt-5 Cómo evitar el sobreendeudamiento:

            .row.mt-4

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Planificar el presupuesto 

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Ahorrar
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Evitar la deuda mala (la que se usa para gastar)
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Conocer la capacidad de endeudamiento
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Solicitar el crédito que se necesite y que tenga un fin específico, en lo posible que sea productivo.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Informarse de todo lo que conlleva un crédito.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Comparar en varias entidades financieras y elegir la que más convenga en términos económicos.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Pagar con puntualidad.
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                .col

                    p Llevar el control de los pagos


            h3.mt-5 Cómo salir del sobreendeudamiento:

            .row.mt-4

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p No endeudarse más “tapar un hueco y destapar otro”
            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Realizar una lista de todas las deudas y conseguir la posibilidad de unificarlas, en lo posible con compra de cartera, ya que la tasa de interés es más baja.


    .card.py-5

        .card-body

            .sub-ecored

                h2#tema-103 10.3.	Capacidad de pago  

            p.mt-5 En el estudio de un crédito es determinante para el otorgamiento o no del microcrédito o crédito y para eso es recomendable tener en cuenta la capacidad de pago, con esta se obtiene la situación económica del negocio y cómo esta capacidad de pago se refleja en los estados financieros, la liquidez precisa con que cuenta el negocio / propietario para atender las cuotas del crédito.

            p.mt-3 La capacidad se determinará mediante la formulación de los estados financieros de la microempresa y el flujo de caja de la unidad socioeconómica. 

            p.font-weight-bold.mt-5 Los Estados Financieros de la Microempresa son: 

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-10/vineta-A.svg").img-fluid

                .col

                    p.mt-2 Balance General

            .row.mt-3

                .col-auto

                    img(src="assets/images/pages/tema-10/vineta-B.svg").img-fluid

                .col

                    p.mt-2 El Estado de Pérdidas y Ganancias

            h3.mt-6 El flujo mensual de efectivo de la unidad socioeconómica
            p Establece la totalidad de los ingresos y los egresos de la unidad familiar, así como el flujo de caja del solicitante del crédito.

            .col-12.mt-5.text-center

                img(src="assets/images/pages/tema-10/tema-10-4.svg").img-fluid

            .bg-azul-claro2.row.p-4.rounded.borde-azul.my-6.mx-2

                .col-auto.mt-5

                    img(src="assets/images/pages/tema-10/tema-10-5.svg").img-fluid

                .col.mb-3

                    p.mt-5  El tema de Análisis financiero es importante en la preparación para  un analista o un comercial que haga uso de la información para la decisión de un crédito, es por eso que es necesario que revise la siguiente información.

                    p.font-weight-bold.mt-5  Capítulo 1 Análisis financiero p.3 del libro Análisis financiero de Lavalle (2017) en

                    a.mb-5.mt-3.text-color-default(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/41183") https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/41183  