.container.mt-5
    
    .header-ecored
                
        h1 2. Sistema de administración de riesgo crediticio SARC

    .jumbotron.bg-white

        p SARC es el sistema administrativo de riesgo crediticio, este tiene políticas y procedimientos específicos, los cuales definen los criterios y la forma mediante la cual la entidad evalúa, asume, califica, controla y cubre el riesgo crediticio. 

        .header-arrow.mt-5

            h3 SARC es el acrónimo de Sistema de Riesgo Crediticio y es tan importante que se basa en unos principios fundamentales que se evidencian a continuación.
        .jumbotron.bg-7.r-border-sup

            .row.mt-4.justify-content-center

                .col-auto

                    img(src="assets/images/pages/tema-2/tema-2-1.svg").img-fluid

                .col-7

                    h2.font-weight-bold Límites de exposición crediticia y de pérdida tolerada

                    p Las políticas incluidas en el SARC incluirán puntos generales que pueden evidenciar  la entidad, tanto de los niveles y límites de exposición (iniciales y potenciales) como el de los créditos totales, (tanto individuales como los que se encuentren dentro del portafolio).


            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-2.svg").img-fluid

                .col-7

                    h2.font-weight-bold Otorgamiento de crédito

                    p Las políticas contendrán las características básicas de las personas aptas para el crédito de la entidad y los niveles de tolerancia frente al riesgo, discriminar entre sus potenciales clientes para determinar si son sujetos de crédito y definir los niveles de adjudicación para cada uno de ellos. 

            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-3.svg").img-fluid

                .col-7

                    h2.font-weight-bold Garantías

                    p Según el Banco de Occidente (2017) “Las políticas deben definir criterios para la exigencia y aceptación de garantías para cada tipo de crédito” es decir que es la forma correcta para evitar que el contrato se prestación de los servicios financieros se incumpla por alguna de las partes de manera irregular, y en caso de que así sea se debe hacer la exigencia de estas garantías.


            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-4.svg").img-fluid

                .col-7

                    h2.font-weight-bold Seguimiento y control

                    p Las entidades deben tener un sistema de seguimiento y control del riesgo crediticio de los portafolios de la entidad que implica un proceso continuo de clasificación y recalificación de las operaciones crediticias.

            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-5.svg").img-fluid

                .col-7

                    h2.font-weight-bold Constitución de provisiones

                    p En las políticas se tendrán en cuenta los sistemas de cubrimiento del riesgo mediante provisiones generales e individuales que permitan absorber las pérdidas esperadas que se despliegan de la exposición crediticia de la entidad y se estiman a través de las metodologías y análisis desarrollados en el SARC. 

            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-6.svg").img-fluid

                .col-7

                    h2.font-weight-bold Capital económico

                    p La estimación del nivel de patrimonio necesario para absorber las pérdidas no esperadas de la entidad.  

            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-7.svg").img-fluid

                .col-7

                    h2.font-weight-bold Recuperación de cartera

                    p Las entidades dentro de su políticas y procedimientos deben adelantar la toma oportuna de medidas para enfrentar incumplimientos con el objeto de minimizar las pérdidas, con base en la historia de recuperaciones y las variables críticas que determinan la minimización de las pérdidas.

            .row.mt-6.justify-content-center

                .col-auto.mt-2

                    img(src="assets/images/pages/tema-2/tema-2-8.svg").img-fluid

                .col-7

                    h2.font-weight-bold Políticas de las bases de datos que soportan el SARC

                    p Parafraseando a la Superintendencia Bancaria de Colombia (2006) las políticas y las bases de datos se emplearán en la construcción de los modelos internos para la medición del riesgo de crédito de los diversos portafolios, las demás bases de datos que empleen las entidades en el proceso de administración del riesgo crediticio p. ej., otorgamiento, seguimiento, cobranza etc., deben tener una longitud mínima de siete (7) años.
        .jumbotron.bg-2.mt-5 
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/alert.png").img-fluid  

                .col
                    p En el Comité de Basilea introdujo incentivos para que las entidades desarrollen sus propios sistemas de gestión de riesgo, para conocer a profundidad acerca del tema, puede dar clic en el siguiente enlace:

                    .row.justify-content-center.align-items-center
                        .col-auto
                            a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/48687" target="_blank").media-link    

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title
                                    p #[strong Anexo.] Ruza, C. (2013). El riesgo de crédito en perspectiva. UNED - Universidad Nacional de Educación a Distancia. 

        .sub-ecored.mt-5
            
            h2#tema-21 2.1 Fases

        .header-arrow.mt-5

            h3 El SARC debe contar al menos con los siguientes componentes básicos:
        .jumbotron.bg-7.r-border-sup

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Políticas de administración del Riesgo Crediticio (RC).

                    p Define con claridad y precisión los criterios bajo los cuales la organización debe evaluar, calificar, asumir, controlar y cubrir el RC

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Procesos de administración del RC.

                    p El SARC debe contar con procesos para la identificación, medición y control del RC. En ellos se deben definir en forma clara y expresa las responsabilidades de cada uno de los funcionarios y organismos internos involucrados en dicha administración, así como los sistemas de seguimiento de ésta, contemplando la adopción de medidas frente a su incumplimiento. 

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Modelos internos o de referencia para la estimación o cuantificación de pérdidas esperadas.

                    p  El SARC debe estimar o cuantificar las pérdidas esperadas de cada modalidad de crédito. 
                    p Cuando se tienen los sistemas de medición como las pérdidas, dentro de su SARC las entidades  diseñan y adoptan respecto de la cartera comercial, de consumo, de vivienda y de microcrédito, ya sea para uno, algunos o la totalidad de sus portafolios o para alguno o la totalidad de los componentes de la medición de la pérdida esperada, sus propios modelos internos de estimación; o aplicar, para los mismos efectos, los modelos de referencia diseñados por la SFC para diversos portafolios.


            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Sistema de provisiones para cubrir el RC.

                    p Estas deben calcularse en función de las pérdidas esperadas que arroje la aplicación del modelo interno.

            .list
                .list__item
                    .list__item__icon
                        img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                .list__txt    
                    p.m-top Procesos de control interno.

                    p El diseño e implementación de un esquema para la administración del RC debe contar con procesos de control interno, mediante los cuales se verifique la implementación de las metodologías, procedimientos y, en general el cumplimiento de todas las reglas de su funcionamiento, incluyendo especialmente el oportuno flujo de información a la junta directiva, consejo de administración y al nivel administrativo de la entidad. 

        .sub-ecored.mt-5
            
            h3#tema-22 2.2 Etapas

        .row.justify-content-center.align-items-center.mt-5
            .col
                p En las diferentes etapas de los procesos se debe generar la información necesaria para evaluar los respectivos riesgos, las cuales ayudan en la toma de decisiones y contiene las siguientes etapas relacionadas con la operación de crédito: 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Otorgamiento

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Seguimiento y control
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Recuperación

            .col-auto
                img(src="assets/images/pages/tema-2/tema-2-10.svg").img-fluid

        .header-arrow.mt-5

            h3 A continuación se presenta la explicación conceptual de cada una:

        .row.justify-content-center.align-items-center.mt-5

            .col-auto

                img(src="assets/images/pages/tema-2/tema-2-11.svg").img-fluid

            .col-7

                h2.font-weight-bold Etapa de otorgamiento 

                p Se basa en el conocimiento de la persona susceptible de crédito o contraparte, de su capacidad de pago y de las características del contrato a celebrar entre las partes, que incluyen, entre otros, las condiciones del préstamo, las garantías, fuentes de pago y las condiciones macroeconómicas a las que pueda estar expuesto.

        .row.justify-content-center.align-items-center.mt-5

            .col-auto

                img(src="assets/images/pages/tema-2/tema-2-12.svg").img-fluid

            .col-7

                h2.font-weight-bold Etapa de seguimiento y control. 

                p Supone un continuo monitoreo y calificación de las operaciones crediticias acorde con el proceso de otorgamiento.

                p En el caso de microcréditos, el continuo monitoreo y calificación de las operaciones crediticias se debe realizar considerando como mínimo los aspectos evaluados en el proceso de otorgamiento, perfil del deudor, plazo de la operación y frecuencia de los pagos.

        .row.justify-content-center.align-items-center.mt-5

            .col-auto

                img(src="assets/images/pages/tema-2/tema-2-13.svg").img-fluid

            .col-7

                h2.font-weight-bold Reestructuración de créditos. 

                p Es toda obligación que modifique las condiciones originalmente pactadas con el fin de permitirle al deudor la atención adecuada de su obligación ante el real deterioro de su capacidad de pago.