.container.mt-5
    
    .header-ecored
                
        h1 12.	Modelos de informes microfinancieros

    .card.pb-5

        .card-body
            
            p.mt-5 Básicamente existen dos modelos de informes microfinancieros: cualitativos y cuantitativos

            .sub-ecored

                h2#tema-121.mt-5 Tipos de informes

            p.mt-5 A partir de los dos tipos de informes que se presentan se jerarquiza en los conceptos fundamentales con los que se debe entender cada uno, es por eso que se presentan las características de cada tipo de informe y algunos de los elementos más importantes a tener en cuenta.

            .row.mt-4.justify-content-center.mt-6

                .col-md-3.col-lg-3.col-sm-3.col-xs-12.mt-6

                    img(src="assets/images/pages/tema-12/tema-12-1.svg").img-fluid

                .col-7

                    .sub-ecored

                        h2.px-5.py-4 12.1.1.	Cualitativos

                    p.mt-3.px-5 Son aquellos que hacen referencias a las “cualidades”, dicha información está relacionada con los adjetivos, por ejemplo: grande, espacioso, pequeño, responsable, paciente, flexible, costos, batato etc.
            
                    p.font-weight-bold.mt-5.px-5 Características: 

                    p.mt-4.px-5 Se utiliza para comprender las opiniones y motivaciones de los consumidores.
                    p.px-5 Para la recopilación de datos se utiliza los métodos de grupo de enfoque y preguntas de texto abierta, con técnicas de grupos focales, entrevistas u observaciones.
                    p.px-5 El análisis e interpretación de datos puede llevar tiempo.

            .row.mt-4.justify-content-center.mt-6

                .col-md-3.col-lg-3.col-sm-3.col-xs-12.mt-6

                    img(src="assets/images/pages/tema-12/tema-12-2.svg").img-fluid

                .col-7.mb-4

                    h2.px-5.py-4 12.1.2.	Cuantitativos

                    p.mt-3.px-5 Relacionada lo que tienen que ver con números, hace referencia básicamente a la cantidad, por ejemplo: valor, altura, tamaño etc.

                    p.font-weight-bold.mt-5.px-5 Características: 

                    p.mt-4.px-5 Los datos se pueden convertir en estadísticas útiles.
                    p.px-5 Los métodos para recopilar datos son más estructurados, incluyen encuestas online o de papel o móviles o cara a cara, incluso telefónicas. 
                    p.px-5 Las preguntas son más cerradas y el tamaño de la muestra más grande.

    .card.py-5

        .card-body

            .sub-ecored

                h2#tema-122 12.2.	Elementos del informe

            p.mt-5 No es regla de oro enlistar los elementos de un informe porque cada entidad tiene sus propios parámetros e instrumentos para evaluar y validar la información que en este reposa, sin embargo dentro de los principales elementos del informe de crédito se deben considerar los siguientes:

            .row.mt-5

                .col-5.pt-6.pl-7

                    img(src="assets/images/pages/tema-12/tema-12-3.svg").img-fluid
                    
                .col-7

                    .row.mt-4

                        .col-12
                            
                            h3.mt-4 Información personal

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p  Nombre completo

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Documento de identidad
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Dirección de ubicación (casa y/o negocio)
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Estado civil
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p En caso de ser casado (a) los datos completos del cónyuge. 
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Fecha de nacimiento
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Seguridad social 
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Número de teléfono (fijo y/o celular)

            .row.mt-5

                .col-5.pt-6.pl-7

                    img(src="assets/images/pages/tema-12/tema-12-4.svg").img-fluid
                    
                .col-7

                    .row.mt-4

                        .col-12
                            
                            h3.mt-4 Información financiera

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p  Cuentas bancarias (ahorro y/o corriente), CDT o encargos fiduciarios. (montos y saldos).

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Créditos actuales y pasados (como titular, deudor solidario o codeudor).
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Total, monto adeudado.
                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Fechas de inicio y cierre de las cuentas y créditos.

            .row.mt-5

                .col-5.pt-5.pl-7

                    img(src="assets/images/pages/tema-12/tema-12-5.svg").img-fluid
                    
                .col-7

                    .row.mt-4

                        .col-12
                            
                            h3.mt-4 Información comercial

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p  Referencias comerciales de proveedores y lista de clientes con datos como nombre y teléfonos.

                    .row.mt-3

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid    

                        .col

                            p Facturas de compra a proveedores
            .row.mt-5

                .col-5.pt-5.pl-7

                    img(src="assets/images/pages/tema-12/tema-12-6.svg").img-fluid
                    
                .col-7

                    .row.mt-4

                        .col-12
                            
                            h3.mt-4 Balance General y Estado de Ganancias y Pérdidas

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p  Es importante tener este tipo de información ya que da una idea más clara de la situación financiera del cliente y/o negocio.
            .row.mt-5

                .col-5.pt-5.pl-7

                    img(src="assets/images/pages/tema-12/tema-12-7.svg").img-fluid
                    
                .col-7

                    .row.mt-4

                        .col-12
                            
                            h3.mt-4 Historial de crédito

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p Reporte de las centrales de riesgo Datacrédito y CIFIN u otras dependiendo de la política crediticia de la entidad.
            .row.mt-5

                .col-5.pt-6.pl-7

                    img(src="assets/images/pages/tema-12/tema-12-8.svg").img-fluid
                    
                .col-7

                    .row.mt-4

                        .col-12
                            
                            h3.mt-4 Garantía

                        .col-auto

                            img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                        .col

                            p Es importante para la entidad financiera conocer de qué manera se respaldará el crédito, los tipos de garantía en las entidades financieras generalmente son: personal (pagaré, fiador o algún elemento – electrodoméstico con que cuente el deudor), hipotecaria (bien inmueble como casa, apartamento, bodega, local etc.) o prendaria (vehículo o maquinaria).
    
    .card.py-5

        .card-body

            .sub-ecored

                h2#tema-123 12.3.	Comité de crédito (aprobación o negación)

            p.mt-5 Grupo de colaboradores de una entidad financiera y/o microfinanciera destina para gestionar, evaluar cada solicitud de crédito para su aprobación o negación dependiendo de la política de crédito, en caso de aprobación inclusive este comité podría tener funciones de hacer seguimiento y recuperación de cartera.

            p.mt-3 En caso de aprobación de las solicitudes se realizará siguiendo los parámetros establecidos, si el asesor de microcrédito se encuentra dentro del comité defenderá su solicitud con argumentos valederos para otorgamiento del microcrédito y comunicará al cliente para posterior desembolso con su respectiva legalización. 

            p.mt-3 En caso de negación de crédito por una o varias razones que establezca el comité, el asesor de microfinanzas tendrá dentro de sus funciones el aviso al cliente de su negación, podrá o no dar razón de negación, pues dentro del sistema financiero se encuentra la reserva bancaria, entendida como el derecho que tiene la entidad financiera en dar información de la razón por la cual fue negada la solicitud.