.container.mt-5
    
    .header-ecored
                
        h1 4. Factores de evaluación para los microcréditos

    .jumbotron.bg-white
        p Estos factores son aquellas variables que se deben tener en cuenta al momento que se evalúa un crédito para su otorgamiento o negación.
        
        .sub-ecored.mt-5

            h2#tema-41 4.1. Características.

        .header-arrow.my-5
            h3 Dentro de algunos factores de evaluación de los microcréditos podemos mencionar:
        .row.justify-content-center.align-items-center
            .col

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Antigüedad:  tiempo de duración del negocio.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Capacidad de endeudamiento: capacidad de pago de acuerdo con su situación financiera.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Créditos anteriores: créditos concedidos en la misma entidad o en otra.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Destino del crédito:  en que se utilizaran los recursos otorgados.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Edad: es importante según política de la entidad que se encuentre dentro de los rangos.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Estado civil: situación familiar del titular del crédito.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Garantía: tipo de garantía aportada por el cliente.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Mora: cumplimiento o incumplimiento de las obligaciones.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Sexo: genero del cliente
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Sector: sector de la actividad al que pertenece el negocio.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Monto: importe del crédito.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Duración: número de cuotas mensuales del crédito.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Zona: lugar geográfico donde se encuentra localizado el negocio.

            .col-auto
                img.img-a(src="assets/images/pages/tema-4/img1.svg").img-fluid

        .sub-ecored.mt-5

            h2#tema-42 4.2    Modo de identificarlos

        .row.justify-content-center.align-items-center.mt-5

            .col-auto

                img(src="assets/images/pages/tema-4/tema-4-1.svg").img-fluid

            .col

                p Para identificar los anteriores factores de evaluación la entidad financiera o microfinanciera se vale de consultas en las centrales de riesgo como Datacrédito y Cifin, pero también cuenta con la valiosa información que recolecta el asesor microfinanciero cuando realiza la visita al negocio, verifica toda la información entregada por el cliente con facturas, recibos, y con la verificación zonal, todo esto para la gran responsabilidad con la que se toma la decisión “la decisión de otorgar o negar un crédito depende del resultado de la investigación que se hace acerca del solicitante para conocer si lo pagará; y de la percepción que el analista se forme respecto del solicitante en su comportamiento probable de pagar el crédito” (Morales y Castro, 2015). 

        .sub-ecored.mt-5

            h2#tema-43 4.3    Clases

        .row.justify-content-center.align-items-center

            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Personalidad y experiencia del microempresario
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Características del producto y/o servicio, y del mercado.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Estrategia y organización de la empresa.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt    
                        p.m-top Criterios relacionados con la información contable del negocio

            .col-auto

                img(src="assets/images/pages/tema-4/tema-4-2.svg").img-fluid