.container.mt-5
    
    .header-ecored
                
        h1 7.	Cliente microfinanciero    

    .card

        .card-body
                   
            .text-center.mt-5

                .col-10.m-auto

                    #cardvideo

                        .row.my-5
                            .col
                                .card
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/EXVTNmTuV1w', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
            p.mt-5 Son personas de bajos ingresos que no tienen acceso a instituciones financieras formales.

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Los clientes de microfinanzas suelen ser autónomos, a menudo emprendedores domésticos. 

            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Los clientes de microfinanzas son pobres y no pobres vulnerables que tienen una fuente de ingresos relativamente estable.

    .card

        .card-body

            .sub-ecored.mt-5

                h2#tema-71 7.1.	Tipos de clientes

            .text-center

                .col-10.m-auto

                    #cardvideo

                        .row.my-5
                            .col
                                .card
                                    .embed-responsive.embed-responsive-16by9
                                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/FxVNkf957tw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .bg-naranja.p-4.mt-5.cont-flecha.text-center

                p.font-weight-bold Parafraseando a Espinosa (2016) se hace la referencia de los tipos de clientes:

            .col-12.mt-5
                
                p.font-weight-bold.mt-5 El cliente que lo sabe todo:
                p siempre creen y quieren tener la razón, siempre están descontentos con las compras que realizan.


                p.font-weight-bold.mt-4 El cliente negociador:
                p es exigente y siempre busca obtener algo (una devolución, un descuento, una promoción, un regalo, etc.).


                p.font-weight-bold.mt-4 El cliente impaciente:
                p nunca tiene tiempo para nada y necesitan que hagan las cosas rápido para él.


                p.font-weight-bold.mt-4 El cliente renegón:
                p por lo general son agresivos cuando realizan una compra, tienden a estar siempre a la defensiva.

                p.font-weight-bold.mt-4 El cliente indeciso:
                p tiene demasiada indecisión para realizar una compra y necesita apoyo de un tercero.


                p.mt-4 Sin embargo, en el microcrédito existen los siguientes tipos de clientes:

            .row.mt-5

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p El público objetivo son los dueños de negocios que el analista visita en la fase de promoción que no están interesados en el microcrédito. En este grupo se encuentran aquellos microempresarios que son clientes de la banca formal por la solidez de su empresa.

            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Cliente potencial son aquellos clientes que pueden ser objeto de microcrédito; a primera vista cumplen con los requisitos de la institución, y muy seguramente serán clientes cuando resuelvan sus dudas acerca del producto, o vean la necesidad del mismo.

            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Cliente eventual es aquel cliente que adquiere el producto porque cumple con los requisitos de microcrédito, más no con los de la banca tradicional, o porque tiene buenas referencias del servicio.

            .row.mt-2

                .col-auto

                    img(src="assets/images/pages/tema-5/vineta.svg").img-fluid

                .col

                    p Cliente habitual es el cliente que se le otorga el crédito y sigue renovando dentro de la entidad.

    .card

        .card-body

            .sub-ecored.mt-5

                h2#tema-71 7.2.	Manejo de los momentos de verdad

            .row.mt-4.justify-content-center.mt-6

                .col-md-3.col-lg-3.col-sm-3.col-xs-12

                    img(src="assets/images/pages/tema-7/tema-7-1.svg").img-fluid

                .col-7

                    p Es la percepción cuando el proveedor de un servicio y el cliente se confrontan, cuando se tiene contacto con el cliente, en este proceso se entrega un producto y/o servicio donde incluye la habilidad, la motivación y las herramientas utilizadas de quien representa la empresa, así mismo las expectativas y comportamiento del cliente.

                    p.mt-3 En definitiva, un momento de verdad es una promesa que se relaciona con la marca o con un producto individual.

            
    .card

        .card-body

            .sub-ecored.mt-5

                h2 7.3.	Características

            p.mt-5 Se debe conocer las características de los clientes puesto que es importante conocer su comportamiento para saber cómo tratarlo, tanto en el momento del otorgamiento del crédito como para la cobranza, en caso que llegue a quedar en mora.

            .bg-naranja.p-4.mt-6.cont-flecha.text-center

                p.font-weight-bold En el siguiente contenido se encuentran las características de los clientes según su influencia y nivel de expresividad, con estos datos y características usted como asesor puede hacer una matriz y avanzar en el reconocimiento de su cliente objetivo.

            .row.mt-5.bg-verde-claro

                .col-12.px-6.py-5

                    img(src="assets/images/pages/tema-7/tema-7-2.svg").img-fluid
          
                .col-6.text-left.py-5.px-6

                    p.font-weight-bold  Extrovertido, influyente

                    p.font-weight-bold.mt-4 Afable
                
                    p.mt-2 Buenas relaciones personales
                    p.mt-1 Atento y servicial
                    p.mt-1 Sugerencias no obstructivas
                    p.mt-1 Amistoso y comprensivo
                    p.mt-1 Se adapta con facilidad

                .col.text-left.py-5.px-6

                    p.font-weight-bold  Extrovertido, dominante

                    p.font-weight-bold.mt-4 Expresivo
                
                    p.mt-2 Tiene equilibrio y capacidad social
                    p.mt-1 Generador de entusiasmo
                    p.mt-1 Incentivos personales
                    p.mt-1 Contacto personal
                    p.mt-1 Elogia
                    p.mt-1.pb-5 Es inspirador

            .row.mt-0.bg-naranja-oscuro.mt-1

                .col-12.px-6.py-5

                    img(src="assets/images/pages/tema-7/tema-7-3.svg").img-fluid
          
                .col-6.text-left.py-5.px-6

                    p.font-weight-bold  Introvertido, influyente

                    p.font-weight-bold.mt-4 Analítico
                
                    p.mt-2 Le gustan los datos, los hechos
                    p.mt-1 Coloca atención a los detalles
                    p.mt-1 Tiene argumentos lógicos
                    p.mt-1.pb-5 Tiene un desempeño consistente
                    
                .col.text-left.py-5.px-6

                    p.font-weight-bold  Introvertido, dominante

                    p.font-weight-bold.mt-4 Emprendedor
                
                    p.mt-2 Fortaleza de carácter
                    p.mt-1 Persistente
                    p.mt-1 Tiene un norte – una dirección
                    p.mt-1 Tiene control
                    p.mt-1 Es competitivo
                    p.mt-1.pb-5 Es persuasivo 

            .bg-azul-claro2.row.p-4.rounded.borde-azul.my-6.mx-2

                .col-auto

                    img(src="assets/images/pages/tema-7/tema-7-4.svg").img-fluid

                .col.mb-3

                    p  Un ejemplo claro de microempresarios es el caso de las mujeres rurales en México, tema que puede consultar en el siguiente link:

                    p  Desde la banca de desarrollo hacia las microfinanzas p.19 Zapata y Alberti (2008) de su libro Microfinanciamiento y empoderamiento de mujeres rurales: las cajas de ahorro y crédito en México en 

                    a.text-color-default(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/75513") https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/75513 